.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 80px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 100px;
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
  }
    
 